@font-face {
    font-family: "Karla";
    src: url('./Karla400.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla400";
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 20px;
}


.header {
    padding: 29px 250px 25px 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logo {
    max-width: 112px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.item_link {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    color: #1D1F2E;
    transition: .5s;
    border-bottom: 1px solid transparent;
}

.item_link:hover {
    color: #A25F4B;
    border-bottom-color: #A25F4B;
    transition: .5s;
}


.header_card_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 2px solid #A25F4B;
    padding: 3px 0px;
}

.fa-bag-shopping {
    cursor: pointer;
    transition: .2s;
}

.fa-bag-shopping:hover {
    color: #A25F4B;
    transition: .2s;
}


.header_card_title {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    color: #1D1F2E;
    text-transform: uppercase;
}

.header_card_value {
    padding: 1px 6px;
    background-color: #1D1F2E;
    border-radius: 50%;
    color: white;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu_btn {
    display: none;
}

.main_bg {
    background-color: #050827;
    height: 530px;
}

.main {
    padding: 0px 220px 120px 220px;
}

.main_content {
    width: 100%;
    height: 530px;
    background-image: url("./hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main_text_one {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 10px;
}

.main_title {
    font-size: 47px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    color: white;
    margin-bottom: 10px;
}

.main_text_two {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: white;
    margin-bottom: 48px;
}

.main_btn:hover {
    color: #A25F4B;
    border-color: #A25F4B;
    background-color: transparent;
    transition: .5s;
}

.main_btn {
    width: 231px;
    background: #FFFFFF;
    height: 18px;
    box-shadow: 0px 2px 6px 0px #1D1F2E1A;
    cursor: pointer;
    transition: .5s;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 940px;
    margin: 0 auto;
    margin-top: 120px;
}

.box_title h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #1D1F2E;

}

.box_title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #1D1F2EB2;

}

.bottom {
    border-bottom: solid 1px #A25F4B;
    width: 135px;
}

.box_title h3 {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    color: #A25F4B;
}

.box_title h4 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    color: #1D1F2E;
    margin-top: 100px;
}

.card {
    display: flex;
    gap: 10px;
    margin-top: 100px;
}

.card_child {
    background-color: rgb(255, 255, 255);
    width: 483px;
    height: 653px;
}

.card_child h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 35px;
}

.card_child h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 5px;
    color: #1D1F2EB2;
}

.card_child span {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #A25F4B;
}

.center h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    color: #1D1F2E;
    margin-top: 120px;
}

.grid {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 50px;
}

.grid_child {
    width: 316px;
    height: 493px;
    margin-top: 50px;
}

.grid_child h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;

}

.grid_child h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;

}

.grid_child span {
    font-size: 19px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    color: #A25F4B;
}

.center1 h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 120px;
}

.grid1 {
    margin-top: 100px;
}

.img1 {
    margin-top: -170px;
    margin-left: 152px;
}

.img2 {
    margin-left: 20px;
}

.title {
    width: 400px;
    margin-left: 570px;
    margin-top: -130px;
    height: 273px;
}

.title h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;
    color: #1D1F2E;
}

.title h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

}

.title p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1F2E;
}

.title button {
    width: 173px;
    height: 36px;
    background-color: #1D1F2E;
    color: white;
    border: solid 2px #1D1F2E;
    cursor: pointer;
    transition: .5s;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;

}

button:hover {

    background-color: white;
    border: solid 2px #1D1F2E;
    color: #1D1F2E;
    transition: .7s;
}

.img100 img {
    margin-top: 130px;
    width: 100%;
}

.bosh {
    width: 941px;
    height: 721px;
    margin: 0 auto;
    margin-top: 100px;
}

.bosh h3 {
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;

}

.ota {
    display: flex;
    gap: 40px;
    margin-top: 102px;
}

.bola {
    width: 300px;
    height: 553px;
}

.bola h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

.bola p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}

.bola h3 {
    font-family: Karla;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: left;


}

.section {
    width: 1440px;
    height: 327px;
    background-color: #1D1F2E;
    margin: 0 auto;
    display: flex;
    margin-top: 232px;
}

._title h3 {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    margin-top: 80px;
    margin-left: 515px;
    display: flex;
}

._title span {
    color: #D2D2D51A;
}

._title h2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    margin-left: 555px;
    margin-top: -15px;
    display: flex;
}

._title input {
    width: 350px;
    height: 54px;
    background-color: transparent;
    border: solid white 1px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 16px;
    margin-left: 450px;
}

.btn {
    width: 129px;
    height: 54px;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    outline: none;
    border: solid 1px white;
    text-align: center;

}
.iop {
    margin-top: -54px;
}
.white{
    width: 1440px;
    height: 450px;
    margin: 0 auto;
    display: flex;
}
.footer{
    width: 950px;
    height: 250px;
    margin: 0 auto;
    margin-left: 210px;
    margin-top: 140px;
}
.df{
    display: flex;
    gap: 35px;
}
.ul1{
    width: 375px;
    height: 190px;
}
.ul1 p{
font-size: 14px;
font-weight: 400;
line-height: 22px;
margin-top: 15px;
letter-spacing: 0em;
text-align: left;
color: #1D1F2E;
}
.ul1 h3{
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
margin-top: 81px;
color: #6b6b6b;
}
.ul2{
    
    width: 160px;
    height: 190px;
}
.po h3{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
    letter-spacing: 2px;
    text-align: left;
    
}
.uo{
    margin-left: 60px;
}
.uo1{
    margin-left: 30px;
}
.ul2 p{
font-size: 13px;
font-weight: 400;
cursor: pointer;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #1D1F2E;
}
.ul3{
    width: 255px;
    height: 190px;
}
.ul4{
    width: 295px;
    height: 190px;
}
@media only screen and (max-width:1280px) {
    .header {
        padding: 20px 0px;
    }

}
.po1 h3{
    font-family: Karla;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 2px;
text-align: left;
color: #1D1F2E;
}
.po1 p{
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #1D1F2E;
}
.po1 a{
    color: #1D1F2E;
}
.po1 h2{
    text-decoration: none;
font-size: 23px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color: #1D1F2E;
}
.po1 h4{
font-size: 14px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #1D1F2E;
margin-top: -5px;
}

@media only screen and (max-width:768px) {

    .header_logo {
        max-width: 100px;
    }

    .item {
        gap: 15px;
    }

    .header_card_content {
        gap: 5px;
        padding: 2px 0px;
    }

    .header_card_value {
        padding: 1px 5px;
    }
}


@media only screen and (max-width:680px) {
    .header {
        padding: 10px 0px;
    }

    .item,
    .header_card_content {
        gap: 15px;
        display: none;
    }

    .menu_btn {
        display: block;
        padding: 5px;
        border: none;
        background-color: transparent;
        color: #A25F4B;
        font-size: 20px;
        cursor: pointer;
    }

}




@media only screen and (max-width:500px) {
    .container {
        padding: 0px 10px;
    }
}